@import "nssk-theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Calibri, Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  line-height: 23px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

button:focus {
  outline: none;
}

mat-form-field.mat-form-field {
  font-size: 14px;
  width: 100%;
  min-width: 45px;

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0.5em;
  }
}

.mat-tab-body-content {
  overflow: hidden !important;
}


.search-input-form-field {
  flex-grow: 4;

  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0;
  }

  .mat-form-field-wrapper {
    padding: 0;
    border-radius: 5px;

    .mat-form-field-infix {
      padding: 5px 0;
      border: none;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      align-self: center;
      top: 3px;

      .mat-icon {
        user-select: none;

        &.close-button {
          cursor: pointer;
        }
      }
    }

    input {
      margin-top: 0.25em;
      line-height: 30px;
    }
  }
}

.modal-setting .mat-dialog-container {
  padding: 0px !important;
  margin: 0 !important;
  overflow-y: hidden !important;
}
