@import '~@angular/material/theming';

@mixin input-styling($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $background-color: map-get($background, card);

  .mat-form-field-wrapper {
    background-color: $background-color;
    border-radius: 1px;


    .mat-form-field-infix {
      padding: 1em 0 0.7em;
      border: none;
    }
  }

  .mat-form-field-hint-wrapper {
    flex-direction: row-reverse; // display hint in right
  }

  .mat-form-field-outline-gap {
    display: none;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
  }

  td {
    .mat-form-field-wrapper {
      padding: 0;
    }
  }
}
