<mat-toolbar>
  <h1>ADD ANSWER</h1>
  <span class="spacer"></span>
  <button mat-icon-button type="button" [mat-dialog-close]="null">
      <mat-icon color="warn">close</mat-icon>
  </button>
</mat-toolbar>
<div class="mx-3">
<form [formGroup]="answerForm">
<div class="row pt-3 px-3">
    <div class="form-group w-100 pt-3">
      <mat-form-field appearance="outline">
        <mat-label class="bold">Title</mat-label>
        <textarea matInput placeholder="Answer title" formControlName="title"></textarea>
        <mat-error *ngIf="answerForm.get('title').hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
  <mat-dialog-actions class="spacer-beetwen align-bottom  mx-2 p-4 pb-5">
    <button mat-flat-button color="warn" [mat-dialog-close]>NO THANKS</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" >CREATE</button>
  </mat-dialog-actions>
</div>
