<div class="mx-3">
  <div class="course-list flex-column">
    <section class="flex-row mx-3">
      <section class="pt-2">
        <div class="row">
          <div [ngClass]="lessonWill()?'col-md-12':'col-md-6'">
            <mat-card class="w-100">
              <div class="card-header-container">
                <h1 class="bold">
                  Lesson
                </h1>
                <mat-label *ngIf="canEdit">
                  <button color="primary" mat-icon-button type="button" (click)="startEdit()" tabindex="-1"
                          *ngIf="!editLesson">
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-label>
              </div>
              <ng-container *ngIf="!editLesson">
                <ng-container *ngIf="course.value && lesson.value">
                  <div class="row">
                    <div class="col-md-7 d-flex align-items-center text-center">
                      <div class="form-group w-100">
                        <h1 class="primary-color">{{course.value?.title}}</h1>
                        <h3 class="bold">{{lesson.value?.title}} {{lesson.value?.type}}</h3>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <ul style="list-style: none;">
                          <li>
                            <mat-label class="bold">Identifire:</mat-label>
                            <mat-label>{{course.value?.identifier}}</mat-label>
                          </li>
                          <li>
                            <mat-label class="bold">Teacher:</mat-label>
                            <mat-label>{{ teacherInfo?.surname + ' ' + teacherInfo?.name }}</mat-label>
                          </li>
                          <li>
                            <mat-label class="bold">Max mark:</mat-label>
                            <mat-label>{{lesson.value?.maxMark}}</mat-label>
                          </li>
                          <li>
                            <mat-label class="bold">Date of the begining:</mat-label>
                            <mat-label>{{ getDate(lesson.value?.dateStart)}}</mat-label>
                          </li>
                          <li>
                            <mat-label class="bold">Date of the end:</mat-label>
                            <mat-label>{{ getDate(lesson.value?.dateEnd)}}</mat-label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Lesson description</mat-label>
                      <textarea matInput value="{{lesson.value?.description}}" readonly></textarea>
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="editLesson">
                <form class="pt-2" [formGroup]="editLessoForm" (ngSubmit)="updateLessonInfo()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field appearance="outline">
                          <mat-label>Title</mat-label>
                          <input matInput formControlName="title"/>
                          <mat-error *ngIf="editLessoForm.get('title').hasError('required')">
                            Title is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field appearance="outline">
                          <mat-label>Max mark</mat-label>
                          <input placeholder="Type..."
                                 matInput
                                 type="number"
                                 formControlName="maxMark"
                                 [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-error *ngIf="editLessoForm.get('maxMark').hasError('required')">
                            Max mark is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field appearance="outline">
                          <mat-label>Teacher</mat-label>
                          <input matInput value="{{ teacherInfo?.surname + ' ' + teacherInfo?.name}}" readonly/>
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>Date of the begining</mat-label>
                              <input matInput [matDatepicker]="picker2" formControlName="dateStart"
                                     placeholder="mm/dd/yyyy">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                              <mat-error *ngIf="editLessoForm.get('dateStart').hasError('required')">
                                Date of the begining is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>Date of the end</mat-label>
                              <input matInput [matDatepicker]="picker1" formControlName="dateEnd"
                                     placeholder="mm/dd/yyyy">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                              <mat-error *ngIf="editLessoForm.get('dateEnd').hasError('required')">
                                Date of the end is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field appearance="outline">
                          <mat-label>Type</mat-label>
                          <input matInput formControlName="type"/>
                          <mat-error *ngIf="editLessoForm.get('type').hasError('required')">
                            Type is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label class="bold">Course description</mat-label>
                      <textarea matInput placeholder="course description" formControlName="description"></textarea>
                      <mat-error *ngIf="editLessoForm.get('description').hasError('required')">
                        Description is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="card-header-container">
                    <button mat-flat-button color="warn" type="button" (click)="cancelEdit()">CANCEL</button>
                    <button mat-flat-button color="primary" type="submit">UPDATE</button>
                  </div>
                </form>
              </ng-container>
            </mat-card>
          </div>

          <div *ngIf="lessonWill(); else elseVisitorsBlock">

          </div>
          <ng-template #elseVisitorsBlock>
            <div class="col-md-6">
              <mat-card class="w-100">
                <div class="p-4 col-12">
                  <div class="d-flex justify-content-between uppercase mb-2">
                    <h1 class="bold">Visitors of the lesson</h1>

                    <div *ngIf="currentUser.accountType == 'student' && lessonNow(); else elseMarkVisitedBlock">
                      <mat-label>
                        <button mat-icon-button type="button" tabindex="-1" color="primary" (click)="markVisited()">
                          <mat-icon>check</mat-icon>
                        </button>
                      </mat-label>
                    </div>
                    <ng-template #elseMarkVisitedBlock>
                    </ng-template>

                  </div>
                  <div class="bordered rounded">
                    <div class="list p-3">
                      <div class="container">
                        <div class="row">
                          <div class="col-1 text-left">
                          </div>
                          <div class="bold col-4 text-center">
                            Student
                          </div>
                          <div class="bold col-2 text-center">
                            University
                          </div>
                          <div class="bold col-5 text-center">
                            E-mail
                          </div>
                        </div>

                        <ng-container class="visitors" *ngFor="let column of visitors">
                          <div class="row">
                            <div class="col-1 text-left">
                              <mat-icon class="drag-icon" color="primary"></mat-icon>
                            </div>
                            <div class="col-4 text-center">
                              <mat-label class="mat-body-2">{{column.surname}}</mat-label>
                            </div>
                            <div class="col-2 text-center">
                              ?????
                            </div>
                            <div class="col-5 text-center">
                              <mat-label class="mat-body-2">{{column.email}}</mat-label>
                            </div>
                          </div>
                        </ng-container>
                      </div>

                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </ng-template>
        </div>
      </section>

      <section class="pt-4">
        <div class="row">
          <div class="col-md-6">
            <mat-card class="w-100">
              <div class="card-header-container p-2">
                <h1 class="bold">
                  Links
                </h1>
                <mat-label>
                  <button *ngIf="canEdit" color="primary" mat-icon-button type="button" tabindex="-1"
                          (click)="addLink()">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-label>
              </div>
              <div class="container span3">
                <ul style="list-style-type: none;">
                  <ng-container *ngFor="let link of links">
                    <li>
                      <div class="card-header-container">
                        <h2 class="bold text-truncate" style="max-width: 150px;"> {{link.description}}</h2>
                        <mat-label>
                          <a mat-stroked-button href="{{link.link}}" target="_blank">Link</a>
                          <button *ngIf="canEdit" mat-icon-button type="button" tabindex="-1" color="warn"
                                  (click)="deleteLessonLink(link._id)">
                            <mat-icon> close</mat-icon>
                          </button>
                        </mat-label>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </mat-card>
          </div>
          <div class="col-md-6">
            <mat-card class="w-100">
              <div class="card-header-container p-2">
                <h1 class="bold">
                  Materials
                </h1>
                <mat-label>
                  <button mat-icon-button type="button" tabindex="-1" *ngIf="canEdit" color="primary"
                          [disabled]="isUploading" (click)="inputFile.click()">
                    <div class="spinner-container">
                      <mat-icon *ngIf="!isUploading">add</mat-icon>
                      <mat-spinner *ngIf="isUploading" diameter="20" mode="indeterminate"></mat-spinner>
                    </div>
                  </button>
                </mat-label>
              </div>
              <div class="container span3">
                <table class="table" style="height: 50px !important;">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let file of materials; let i = index">
                    <tr>
                      <th scope="row">{{i + 1}}</th>
                      <td>{{file?.title}} </td>
                      <td>{{ file?.mimetype.split('/')[1] }}</td>
                      <td> {{ formatSize(file?.size) }}</td>
                      <td>
                        <button mat-icon-button type="button" tabindex="-1" color="primary"
                                (click)="downloadFile(file._id, file.title, file.mimetype)">
                          <mat-icon> get_app</mat-icon>
                        </button>
                      </td>
                      <td>
                        <button *ngIf="canEdit" mat-icon-button type="button" tabindex="-1" color="warn"
                                (click)="deleteFile(file._id)">
                          <mat-icon> close</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </mat-card>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
<input type="file" #inputFile (change)="uploadDocument($event)" hidden>
