<div class="mx-3">
  <div class="course-list flex-column">
    <section class="flex-row mx-3">
      <section class="pt-2" >
        <mat-card class="w-100">
          <div class="card-header-container">
            <h1 class="bold">
              Tasks
            </h1>
            <mat-label>
              <button *ngIf="canEdit" color="primary" mat-icon-button type="button" tabindex="-1" (click)="addTask()">
                  <mat-icon>add</mat-icon>
              </button>
            </mat-label>
          </div>
          <div class="span1">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date & Time</th>
                  <th scope="col">Max grade</th>
                  <th scope="col" *ngIf="!canEdit">Status</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let element of tasks; let i = index">
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{ element.task?.title}} </td>
                    <td>{{ element.task?.description}} </td>
                    <td>
                      <ul style="list-style: none;">
                        <li class="mat-body-2">
                            Start At: {{ element.task?.dateStart?.toLocaleDateString() }} {{element.task?.dateStart?.toLocaleTimeString()}}
                        </li>
                        <li class="mat-body-2">
                            End At: {{ element.task?.dateEnd?.toLocaleDateString() }} {{element.task?.dateEnd?.toLocaleTimeString()}}
                        </li>
                      </ul>
                    </td>
                    <td>{{ element.task?.maxMark}}</td>
                    <td *ngIf="!canEdit">
                    </td>
                    <td>
                      <button mat-raised-button type="button" tabindex="-1" color="primary" (click)="openTask(element.task._id)">
                        Open
                      </button>
                    </td>
                    <td>
                      <button *ngIf="canEdit" mat-icon-button type="button" tabindex="-1" color="warn" (click)="deleteTask(element.task._id)">
                        <mat-icon> close </mat-icon>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </mat-card>
      </section>
    </section>
  </div>
</div>
