input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-beetwen {
  display: flex;
  justify-content: space-between;
}

.info {
  vertical-align: super;
}
