<form [formGroup]="createUserAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group pt-3">
        <mat-form-field appearance="outline">
            <mat-label> First Name </mat-label>
            <input matInput formControlName="firstName"/>
            <mat-error *ngIf="createUserAccountForm.get('firstName').hasError('required')">
                First Name is required
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group pt-3">
      <mat-form-field appearance="outline">
          <mat-label> Last Name </mat-label>
          <input matInput formControlName="lastName"/>
          <mat-error *ngIf="createUserAccountForm.get('lastName').hasError('required')">
              Last Name is required
          </mat-error>
      </mat-form-field>
  </div>
  <div class="form-group pt-3">
      <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input matInput formControlName="email"/>
          <mat-error *ngIf="createUserAccountForm.get('email').hasError('email')">
              Invalid email address. Valid e-mail can contain only latin letters, numbers, '@' and '.'.
          </mat-error>
          <mat-error *ngIf="createUserAccountForm.get('email').hasError('required')">
              Email is required
          </mat-error>
      </mat-form-field>
  </div>
  <div class="form-group pt-3">
      <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input matInput type="password" formControlName="password" autocomplete="on"/>
          <mat-error *ngIf="createUserAccountForm.get('password').hasError('required')">
              Password is required
          </mat-error>
      </mat-form-field>
  </div>
  <div class="form-group pt-3">
    <mat-form-field appearance="outline">
        <mat-label> Confirm Password </mat-label>
        <input matInput type="password" formControlName="confirmPassword" autocomplete="on"/>
        <mat-error *ngIf="createUserAccountForm.get('confirmPassword').hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="createUserAccountForm.get('confirmPassword').hasError('mustMatch')">
          Passwords must match
        </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group pt-3">
    <div class="d-flex justify-content-center">
      <mat-button-toggle-group #group="matButtonToggleGroup"  multiple="false" formControlName='isTeacher'>
        <mat-button-toggle [value]="false">Student</mat-button-toggle>
        <mat-button-toggle  [value]="true">Teacher</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
  </div>
    <div class="form-group pt-2 pb-2 text-center">
      <button mat-raised-button color="accent" type="submit">
          Sign Up
      </button>
    </div>
</form>
