.course-list {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}
