.course-list {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-span {
  display: inline-block;
  margin-left: 12px;
}

.span3 {
  height: 200px !important;
  overflow-y: scroll;
}
