<form>
  <div class="form-group search-course-block flex-row">
    <div class="search-tool">
      <input type="text" class="form-control" id="searchQuery" placeholder="course">
    </div>

    <div class="flex-row">
      <mat-form-field appearance="outline" color="accent" class="search-tool">
        <mat-select color="accent" placeholder="Filters">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="search-tool">
        <mat-select color="accent" placeholder="Sorting">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div>
      <button mat-flat-button color="primary" (click)="openDialog()">Add new course</button>
    </div>
  </div>
</form>
<div class="course-list flex-column">
  <ng-container *ngFor="let course of courses">
    <section class="flex-row pt-3 mx-3">
      <mat-card class="w-100">
        <div class="row">
          <div class="course-name padding-between">{{ course.title }}</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <div class="teacher padding-between">
            {{ course.teacher }}
            <div class="date-info">{{ course.dateStart }} - {{ course.dateEnd }}</div>
          </div>
          <div class="lesson padding-between">
            Lesson #7
            <div class="date-info">21.03.10 | 14:30 - 15:30</div>
          </div>
          <div class="grade padding-between">69/100</div>
          <span class="spacer"></span>
          <div class="pr-3">
            <button mat-icon-button color="primary" (click)="editCourse(course._id)">
              <mat-icon color="primary">settings</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </section>
  </ng-container>
</div>




